.container2 {
    display: block;
    justify-content: center;

}

.horizontal-line {
    display: block;
    width: 100%;
    height: 6px;
    background-color: black;
    margin: 4px;
    position: relative;
    bottom: 800px
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.vertical-line {
    display: inline-block;
    width: 6px;
    height: 800px;
    position: relative;
    top: 45px;
    background-color: black;
    margin: 0 3px;
}



.left-header {
  
}
