.container2 {
    display: block;
    justify-content: center;

}

.horizontal-line {
    display: block;
    width: 100%;
    height: 6px;
    background-color: black;
    margin: 4px;
    position: relative;
    bottom: 800px
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.vertical-line {
    display: inline-block;
    width: 6px;
    height: 800px;
    position: relative;
    top: 45px;
    background-color: black;
    margin: 0 3px;
}

.circle {
    width: 550px;
    height: 550px;
    background-image: linear-gradient(to bottom, #ff8800f9, #ef0e73);
    border-radius: 50%;
    position:relative;
    bottom: 700px;
    left: 100px
}


.left-header {
  color: rgb(255, 255, 255);
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; /* Outline effect */
  font-size: 100px;
  position: relative;
  left: 180px;
  bottom: 1120px
}


