/* Dark Theme For blog.html */
#sun {
    position: relative;
    bottom: 1060px;
    left: 1415px;
    font-size: 30px;
}

#moon {
    position: relative;
    bottom: 1060px;
    left: 1415px;
    font-size: 30px;
    display: none;
    
}
  
.dark-theme .lines-container {
    background-color: #333;
    
  }
  
  .dark-theme .horizontal-line {
    background-color: #707070; 
   
  }

  .dark-theme .horizontal-line2 {
    background-color:#707070 ;
    
  }
  
  .dark-theme .rectangle {
    background-color: #707070; 
    color: #fff; 
   
  }

  .dark-theme #back-button {
    background-color: rgb(15, 4, 100);
   
  }

  .dark-theme .posted-1 {
    position:relative;
    bottom: 990px;
    left: 15px;
    color: rgb(214, 214, 214);
}

.dark-theme .posted-2 {
    position:relative;
    bottom: 890px;
    left: 15px;
    color: rgb(214, 214, 214);
    
}

.dark-theme .posted-3 {
    position:relative;
    bottom:790px;
    left: 15px;
    color: rgb(214, 214, 214);
}

.dark-theme .posted-4 {
    position:relative;
    bottom: 694px;
    left: 15px;
    color: rgb(214, 214, 214);
}

   .dark-theme {
    background-color: #333;
    color: rgb(236, 230, 220);
  }


 